<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Linked Data Fragments Server</display-name>
    <servlet>
        <servlet-name>TpfServlet</servlet-name>
        <servlet-class>org.linkeddatafragments.servlet.LinkedDataFragmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartitioningServlet</servlet-name>
        <servlet-class>org.linkeddatafragments.servlet.PartitioningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartitionFragmentServlet</servlet-name>
        <servlet-class>org.linkeddatafragments.servlet.PartitionFragmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryExecutionPlanServlet</servlet-name>
        <servlet-class>org.linkeddatafragments.servlet.QueryExecutionPlanServlet</servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>PartitioningServlet</servlet-name>
        <url-pattern>/molecule/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartitionFragmentServlet</servlet-name>
        <url-pattern>/partition/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryExecutionPlanServlet</servlet-name>
        <url-pattern>/plan/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TpfServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
